{{ define "admin_header" }}
<nav>
	<div class="nav-wrapper">
		<span class="brand-logo center hide-on-med-and-down">Coopcat - Admin</span>
		<ul id="nav-mobile">
			<li><a href="/admin/roles">Roles</a></li>
			<li><a href="/admin/addjob">Add Job</a></li>
			<li><a href="/admin/companies">Companies</a></li>
			<li><a href="login.html">Logout</a></li>
		</ul>
	</div>	
</nav>

<style>
	DIV.table {
		display: table;
	}

	FORM.tr, DIV.tr {
		display: table-row;
	}

	SPAN.td {
		display: table-cell;
	}

	SPAN.th {
		font-weight: bold;
		display: table-cell;
	}
</style>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{{end}}