<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head></head>
<body>

<h1>Users</h1>
{{if .notification }}
<h3>{{.notification}}</h3>
{{end}}

<style>
    DIV.table
    {
        display:table;
    }
    FORM.tr, DIV.tr
    {
        display:table-row;
    }
    SPAN.td
    {
        display:table-cell;
    }
</style>

<input id="searchInput" placeholder="Type To Filter">

<div class="table" id="usersTable">
{{range .Users}}
    <form class="tr" method="post" action="/admin">
        <input type="hidden" name="UserId" value="{{.UserID}}">
        <span class="td name">{{.Name}}</span>
        <span class="td">
        <select name="role" onchange="this.form.submit()">
            <option value="0" {{if eq .Role 0}} selected {{end}}>Student</option>
            <option value="1" {{if eq .Role 1}} selected {{end}}>Moderator</option>
            <option value="2" {{if eq .Role 2}} selected {{end}}>Admin</option>
        </select>
        </span>
    </form>
{{end}}
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
    jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
        return function( elem ) {
            return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });

    $("#searchInput").keyup(function () {
        var rows = $("#usersTable").find(".tr").hide();
        if (this.value.length) { //Something is written
            rows.find(".name").filter(":Contains('" + this.value + "')").parent().show();
        } else rows.show();
    });
</script>

</body>
</html>