{{ template "head"}}
<body>
{{ template "admin_header" }}

<div class="container">
<h1>Jobs</h1>

    <!--Notification Here-->
    {{if .notification }}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{.notification}}
    </div>
    {{end}}

<div>
    <div class="row tableheader">
        <span class="col s2">Name</span>
        <span class="col s2">Company</span>
        <span class="col s2">Student Level</span>
        <span class="col s2">Application Deadline</span>
        <span class="col s1">Num Positions</span>
        <span class="col s1">Available Positions</span>
        <span class="col s1"></span>
    </div>
    <form class="row" method="post">
        <input type="hidden" name="JobID" value="0">
        <span class="col s2"><input type="text" name="Name" placeholder="Name"></span>
        <span class="col s2"> <!-- Company -->
            <select name="CompanyID">
                {{range .Companies}}
                <option value="{{.CompanyID}}">{{.Name}}</option>
                {{end}}
            </select>
        </span>
        <span class="col s2"><input type="number" name="StudentLevel" placeholder="Student Level"></span> <!-- Student Level -->
        <span class="col s2"><input type="date" name="DeadlineDate" placeholder="yyyy-mm-dd"></span> <!-- Deadline -->
        <span class="col s1"><input type="number" name="NumOfPositions" placeholder="Num Positions"></span> <!-- Num Positions -->
        <span class="col s1"><input type="number" name="NumAvailablePositions" placeholder="# Available Positions"></span> <!-- Num Available Positions -->
        <span class="col s1"><input type="submit" value="Add Job"></span>
    </form>

    {{range $index, $job := .Jobs}}

    <form class="row" method="post">
        <input type="hidden" name="JobID" value="{{ $job.JobID }}">
        <input type="hidden" name="CompanyID" value="{{ $job.CompanyID }}">
        <span class="col s2"><input type="text" name="Name" placeholder="Name" value="{{$job.Name}}"></span>
        <span class="col s2">{{$job.CompanyName}}</span>
        <span class="col s2"><input type="number" name="StudentLevel" placeholder="Student Level" value="{{$job.StudentLevel}}"></span> <!-- Student Level -->
        <span class="col s2"><input type="date" name="DeadlineDate" placeholder="yyyy-mm-dd" value="{{$job.DeadlineDateFormatted}}"></span> <!-- Deadline -->
        <span class="col s1"><input type="number" name="NumOfPositions" placeholder="Num Positions" value="{{$job.NumOfPositions}}"></span> <!-- Num Positions -->
        <span class="col s1"><input type="number" name="NumAvailablePositions" placeholder="# Available Positions" value="{{$job.NumAvailablePositions}}"></span> <!-- Num Available Positions -->
        <span class="col s1"><input type="submit" value="Save"></span>
    </form>

    {{end}}
</div>

</div>
</body>
</html>