{{ template "head"}}
<body>
{{ template "admin_header" }}

<div class="container">
<h1>Companies</h1>

    <!--Notification Here-->
    {{if .notification }}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{.notification}}
    </div>
    {{end}}



    <div class="row tableheader">
        <span class="col s2">Name</span>
        <span class="col s3">Description</span>
        <span class="col s1"># Employees</span>
    </div>
<form class="row" method="post">
    <input type="hidden" name="CompanyID" value="0">
    <span class="col s2"><input type="text" class="name" name="Name" placeholder="Name"></span>
    <span class="col s3"><input type="text" name="Description" placeholder="Description"></span>
    <span class="col s1"><input type="number" name="NumEmployees" placeholder="# Employees"></span>
    <span class="col s1"><input type="submit" value="Add Company"></span>
</form>

{{range .Companies}}
    <form class="row" method="post">
        <input type="hidden" name="CompanyID" value="{{.CompanyID}}">
        <span class="col s2">
            <input type="text" name="Name" placeholder="Name" value="{{.Name}}"></span>
        <span class="col s3"><input type="text" name="Description" placeholder="Description" value="{{.Description}}"></span>
        <span class="col s1"><input type="number" name="NumEmployees" placeholder="# Employees" value="{{.NumEmployees}}"></span>
        <span class="col s1"><input type="submit" value="Save"></span>
    </form>
{{end}}
</div>

</div>
</body>
</html>