{{ define "admin_header" }}
<html>
<head>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>
<header style="height:100px; background-color:#afafaf; line-height:100px;">
	<div class="row">
		<div class="col-md-8">
			<a href="login.html"><img src="../public/img/cooplogo.png" alt="mycoop logo" title="mycoop - find your job" /></a>
		</div>
		<div class="col-md-4">
			<a href="/admin/roles" class="btn btn-info" role="button">Roles</a>
			<a href="/admin/addjob" class="btn btn-info" role="button">Add Job</a>
			<a href="/admin/companies" class="btn btn-info" role="button">Companies</a>
			<a href="login.html" class="btn btn-danger" role="button">Logout</a>
		</div>
	</div>	
</header>
</html>
{{end}}