{{ template "head" }}
<body>
{{ template "admin_header" }}


<div class="container">
    <h1>Users</h1>
    <!--Notification Here-->
    {{if .notification }}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{.notification}}
    </div>
    {{end}}

<input id="searchInput" placeholder="Type To Filter">

    <br />
    <br />

<div id="usersTable">
    <div class="row tableheader">
        <span class="col s2">Name</span>
        <span class="col s2">Role</span>
    </div>
{{range .Users}}
    <form class="row" method="post">
        <input type="hidden" name="UserId" value="{{.UserID}}">
        <span class="col s2 name">{{.Name}}</span>
        <span class="col s2">
        <select name="role" onchange="this.form.submit()">
            <option value="0" {{if eq .Role 0}} selected {{end}}>Student</option>
            <option value="1" {{if eq .Role 1}} selected {{end}}>Moderator</option>
            <option value="2" {{if eq .Role 2}} selected {{end}}>Admin</option>
        </select>
        </span>
    </form>
{{end}}
</div>
</div>

<script>
    jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
        return function( elem ) {
            return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });

    $("#searchInput").keyup(function () {
        var rows = $("#usersTable").find(".tr").hide();
        if (this.value.length) { //Something is written
            rows.find(".name").filter(":Contains('" + this.value + "')").parent().show();
        } else rows.show();
    });
</script>

</body>
</html>