<html>
{{template "styles" .}}
{{template "admin_header" . }}


<body>
<div style="overflow:hidden;">
<header class="header" id="header">
	<div class="container">
        <h1 class="animated fadeInDown delay-07s">Co-Op Managment Database System</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>Apply to co-op placements, review past job offers, ask for resume reviews from classified users.</li>
        </ul>
            <a class="link animated fadeInUp delay-1s" href="login">Login</a>
    </div>
</div>
</header>

<p>This is for educational purposes only. 2017</p>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false

        });

    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();

  </script>


<script type="text/javascript">
	$(window).load(function(){

		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);

			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');


			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;


  $container.isotope({

    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){

    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {

      columns = currentColumns;

      $container.width( columns * colW )
        .isotope('reLayout');
    }

  }).smartresize();
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({

            filter: selector,
         });
         return false;
    });

});

</script>
</body>
</html>
