<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{if .notification }}
<h1>{{.notification}}</h1>
{{end}}

<style>
    DIV.table {
        display: table;
    }

    FORM.tr, DIV.tr {
        display: table-row;
    }

    SPAN.td {
        display: table-cell;
    }

    SPAN.th {
        display: table-cell;
        font-weight: bold;
    }
</style>

<div class="table">
    {{range $i, $user_resume := .users_resumes}}
        <div class="tr">
            <span class="th">{{ (index $user_resume 0).User.Name }}</span>
            <span class="th">Your Comments</span>
            <span class="th">Posted On</span>
        </div>

        {{range $index, $element := $user_resume}}
            {{if (eq $index 0)}}
                <form class="tr" method="post">
                    <input type="hidden" name="ResumeID" value="{{$element.ResumeReview.ResumeID}}">
                    <input type="hidden" name="ModeratorID" value="{{$element.ResumeReview.ModeratorID}}">
                    <span class="td"><a href="{{$element.Resume.ResumePath}}" target="_blank">Download</a></span>
                    <span class="td"><input type="text" name="Review" value="{{$element.ResumeReview.Review}}"></span>
                    <span class="td">{{$element.FormattedDate}}</span>
                    <span class="td"><input type="submit" value="Save"></span>
                </form>
            {{else}}
            <div class="tr">
                <span class="td"><a href="{{$element.Resume.ResumePath}}" target="_blank">Download</a></span>
                <span class="td">{{$element.ResumeReview.Review}}</span>
                <span class="td">{{$element.FormattedDate}}</span>
            </div>
            {{end}}
        {{end}}
    {{end}}
</div>

</body>
</html>