<html>
{{template "styles" . }}


<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Coopcat - Userhub</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#profile">Profile</a></li>
        <li class="tab"><a class="active" href="#jobs">Jobs</a></li>
        <li class="tab"><a href="#my-resumes">My Resumes</a></li>
      </ul>
    </div>
  </nav>
  <div id="profile" class="col s12">
	  <h4> USER ID : {{.User.UserID}} </h4>
	   <h4>Username: {{.CurrentUser.Username}}</h4>
	  <h3>Email: {{.CurrentUser.Email}}</h3>
	  <h3>Role: {{.CurrentUser.Role}}</h3>
  </div>
  <div id="jobs" class="col s12">
	  {{range .Jobs}}
<p>

		<u><strong>Title: {{.Name.String}}</strong></u>
		<h5>Rating: {{.Rating.Int}}</h5>
		<h5>Required Student Level: {{.StudentLevel}}</h5>
		<h5>Deadline Date: {{.DeadlineDate}}</h5>

		<h5>Number of Available Positions {{.NumAvailablePositions}}</h5>
</p>
	  {{end}}
  </div>
  <div id="my-resumes" class="col s12">
	  <p>
	  <form action="/sendresumetomod" enctype="multipart/form-data"  method="POST">

	  <h5> Upload a new resume for moderator review ! </h5>
	  <input type="file" id="uploadfile" name="uploadfile"></input>
	  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    		<i class="material-icons right">send</i>
  		</button>

  	</form>

	{{range .Resumes}}

	<h5>Author ID: {{.Resume.AuthorID}}</h5>

	<h5>Resume ID: {{.Resume.ResumeID}} </h5>

	<h5>Path: {{.Resume.ResumePath.String}}</h5>

	<object width="500" height="500" data={{.Resume.ResumePath.String}}></object>


			{{if .ResumeReview.Review}}
				<h4>Moderator Review: {{.ResumeReview.Review}}</h4>
				<h4>Reviewed by Moderator_ID: {{.ResumeReview.ModeratorID}}</h4>
				<h4> The Date of Review: {{.ResumeReview.ReviewDate}}</h4>
			{{else}}
				<h4>Moderator has not reviewed this resume yet.</h4>
			{{end}}

			-----------------------------------------------------------


	{{end}}
</p>

  </div>



<html>
